# Generating frequency table for a single column by date

In [1]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [2]:
client = MongoClient('localhost', 27017)
db = client.pythonbicookbook
collection = db.accidents
fields = {'Date':1,
'Police_Force':1,
'Accident_Severity':1,
'Number_of_Vehicles':1,
'Number_of_Casualties':1}
data = collection.find({}, fields)

In [3]:
accidents = pd.DataFrame(list(data))

In [5]:
casualty_count = accidents.groupby('Date').agg({'Number_of_Casualties': np.sum})
casualty_count

            Number_of_Casualties
Date
2005-01-01                   2.0
2005-01-05                  10.0
2005-01-06                   4.0
2005-01-09                   8.0
2005-01-10                   4.0
2005-01-11                   4.0
2005-01-12                   4.0
2005-01-13                   6.0
2005-01-14                   6.0
2005-01-15                   6.0
2005-01-18                   8.0
2005-01-19                   4.0
2005-01-20                   6.0
2005-01-22                   4.0
2005-01-23                   6.0
2005-01-25                   2.0
2005-01-26                  14.0
2005-01-27                  10.0
2005-01-29                   4.0
2005-01-31                   4.0
2005-02-01                  14.0
2005-02-02                  12.0
2005-02-04                   4.0
2005-02-05                   2.0
2005-02-06                   2.0
2005-02-07                   2.0
2005-02-08                   2.0
2005-02-09                   6.0
2005-02-10                   2.0
2005-02-11                   2.0
...                          ...
2016-11-25                   2.0
2016-11-26                   6.0
2016-11-27                   8.0
2016-11-28                  10.0
2016-11-29                   6.0
2016-11-30                   8.0
2016-12-01                   4.0
2016-12-02                   8.0
2016-12-03                   4.0
2016-12-04                   6.0
2016-12-05                   2.0
2016-12-06                   2.0
2016-12-07                   4.0
2016-12-08                   4.0
2016-12-10                   2.0
2016-12-12                   6.0
2016-12-13                   2.0
2016-12-14                   4.0
2016-12-15                   2.0
2016-12-16                   4.0
2016-12-17                   6.0
2016-12-18                   2.0
2016-12-19                   6.0
2016-12-21                   2.0
2016-12-22                   6.0
2016-12-25                   2.0
2016-12-27                   2.0
2016-12-28                   2.0
2016-12-30                   4.0
2016-12-31                   2.0

[3127 rows x 1 columns]

# Generating a frequency table of two variables

In [7]:
accidents.head()

,Accident_Severity,Date,Number_of_Casualties,Number_of_Vehicles,Police_Force,_id
0,2.0,2009-01-06,2.0,2.0,12.0,5a54af9af8bc7a2fd05e5bbf
1,3.0,2009-01-20,1.0,1.0,12.0,5a54af9af8bc7a2fd05e5bc0
2,3.0,2009-01-24,1.0,1.0,12.0,5a54af9af8bc7a2fd05e5bc1
3,2.0,2009-01-31,3.0,2.0,12.0,5a54af9af8bc7a2fd05e5bc2
4,3.0,2009-01-31,1.0,2.0,12.0,5a54af9af8bc7a2fd05e5bc3

In [8]:
casualty_count

            Number_of_Casualties
Date
2005-01-01                   2.0
2005-01-05                  10.0
2005-01-06                   4.0
2005-01-09                   8.0
2005-01-10                   4.0
2005-01-11                   4.0
2005-01-12                   4.0
2005-01-13                   6.0
2005-01-14                   6.0
2005-01-15                   6.0
2005-01-18                   8.0
2005-01-19                   4.0
2005-01-20                   6.0
2005-01-22                   4.0
2005-01-23                   6.0
2005-01-25                   2.0
2005-01-26                  14.0
2005-01-27                  10.0
2005-01-29                   4.0
2005-01-31                   4.0
2005-02-01                  14.0
2005-02-02                  12.0
2005-02-04                   4.0
2005-02-05                   2.0
2005-02-06                   2.0
2005-02-07                   2.0
2005-02-08                   2.0
2005-02-09                   6.0
2005-02-10                   2.0
2005-02-11                   2.0
...                          ...
2016-11-25                   2.0
2016-11-26                   6.0
2016-11-27                   8.0
2016-11-28                  10.0
2016-11-29                   6.0
2016-11-30                   8.0
2016-12-01                   4.0
2016-12-02                   8.0
2016-12-03                   4.0
2016-12-04                   6.0
2016-12-05                   2.0
2016-12-06                   2.0
2016-12-07                   4.0
2016-12-08                   4.0
2016-12-10                   2.0
2016-12-12                   6.0
2016-12-13                   2.0
2016-12-14                   4.0
2016-12-15                   2.0
2016-12-16                   4.0
2016-12-17                   6.0
2016-12-18                   2.0
2016-12-19                   6.0
2016-12-21                   2.0
2016-12-22                   6.0
2016-12-25                   2.0
2016-12-27                   2.0
2016-12-28                   2.0
2016-12-30                   4.0
2016-12-31                   2.0

[3127 rows x 1 columns]

In [10]:
vehicle_count=accidents.groupby('Date').agg({'Number_of_Vehicles':np.sum})
vehicle_count

            Number_of_Vehicles
Date
2005-01-01                 4.0
2005-01-05                18.0
2005-01-06                 8.0
2005-01-09                 6.0
2005-01-10                 8.0
2005-01-11                 4.0
2005-01-12                10.0
2005-01-13                14.0
2005-01-14                10.0
2005-01-15                 8.0
2005-01-18                 8.0
2005-01-19                 6.0
2005-01-20                 8.0
2005-01-22                12.0
2005-01-23                 4.0
2005-01-25                 4.0
2005-01-26                16.0
2005-01-27                18.0
2005-01-29                 6.0
2005-01-31                10.0
2005-02-01                24.0
2005-02-02                12.0
2005-02-04                 4.0
2005-02-05                 4.0
2005-02-06                 2.0
2005-02-07                 2.0
2005-02-08                 4.0
2005-02-09                12.0
2005-02-10                 2.0
2005-02-11                 4.0
...                        ...
2016-11-25                 2.0
2016-11-26                 8.0
2016-11-27                10.0
2016-11-28                18.0
2016-11-29                12.0
2016-11-30                16.0
2016-12-01                 6.0
2016-12-02                16.0
2016-12-03                 4.0
2016-12-04                 8.0
2016-12-05                 4.0
2016-12-06                 4.0
2016-12-07                 6.0
2016-12-08                 8.0
2016-12-10                 2.0
2016-12-12                 8.0
2016-12-13                 4.0
2016-12-14                 6.0
2016-12-15                 4.0
2016-12-16                 6.0
2016-12-17                10.0
2016-12-18                 4.0
2016-12-19                12.0
2016-12-21                 4.0
2016-12-22                10.0
2016-12-25                 4.0
2016-12-27                 6.0
2016-12-28                 4.0
2016-12-30                 6.0
2016-12-31                 2.0

[3127 rows x 1 columns]

In [11]:
casualties_and_vehicles=casualty_count.merge(vehicle_count,left_index=True,right_index=True)
casualties_and_vehicles

            Number_of_Casualties  Number_of_Vehicles
Date
2005-01-01                   2.0                 4.0
2005-01-05                  10.0                18.0
2005-01-06                   4.0                 8.0
2005-01-09                   8.0                 6.0
2005-01-10                   4.0                 8.0
2005-01-11                   4.0                 4.0
2005-01-12                   4.0                10.0
2005-01-13                   6.0                14.0
2005-01-14                   6.0                10.0
2005-01-15                   6.0                 8.0
2005-01-18                   8.0                 8.0
2005-01-19                   4.0                 6.0
2005-01-20                   6.0                 8.0
2005-01-22                   4.0                12.0
2005-01-23                   6.0                 4.0
2005-01-25                   2.0                 4.0
2005-01-26                  14.0                16.0
2005-01-27                  10.0                18.0
2005-01-29                   4.0                 6.0
2005-01-31                   4.0                10.0
2005-02-01                  14.0                24.0
2005-02-02                  12.0                12.0
2005-02-04                   4.0                 4.0
2005-02-05                   2.0                 4.0
2005-02-06                   2.0                 2.0
2005-02-07                   2.0                 2.0
2005-02-08                   2.0                 4.0
2005-02-09                   6.0                12.0
2005-02-10                   2.0                 2.0
2005-02-11                   2.0                 4.0
...                          ...                 ...
2016-11-25                   2.0                 2.0
2016-11-26                   6.0                 8.0
2016-11-27                   8.0                10.0
2016-11-28                  10.0                18.0
2016-11-29                   6.0                12.0
2016-11-30                   8.0                16.0
2016-12-01                   4.0                 6.0
2016-12-02                   8.0                16.0
2016-12-03                   4.0                 4.0
2016-12-04                   6.0                 8.0
2016-12-05                   2.0                 4.0
2016-12-06                   2.0                 4.0
2016-12-07                   4.0                 6.0
2016-12-08                   4.0                 8.0
2016-12-10                   2.0                 2.0
2016-12-12                   6.0                 8.0
2016-12-13                   2.0                 4.0
2016-12-14                   4.0                 6.0
2016-12-15                   2.0                 4.0
2016-12-16                   4.0                 6.0
2016-12-17                   6.0                10.0
2016-12-18                   2.0                 4.0
2016-12-19                   6.0                12.0
2016-12-21                   2.0                 4.0
2016-12-22                   6.0                10.0
2016-12-25                   2.0                 4.0
2016-12-27                   2.0                 6.0
2016-12-28                   2.0                 4.0
2016-12-30                   4.0                 6.0
2016-12-31                   2.0                 2.0

[3127 rows x 2 columns]