# Working with MongoDB

import necessary packages

In [1]:
import pandas as pd
from pymongo import MongoClient

In [3]:
#create a connection to the MongoDB
client=MongoClient('localhost',27017)

In [5]:
#set the database and the connection
db=client.pythonbicookbook
collection=db.accidents

In [7]:
#find the 6th day of the week data
data=collection.find({'Day_of_Week':6})
data

In [10]:
# Create the dataframe from the MongoDB query and show the top 5 rows
accidents = pd.DataFrame(list(data))
accidents.head()

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Index,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,...,Pedestrian_Crossing-Physical_Facilities,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,_id
0,6,0,6,0,2009120020975,3,2,2009-02-06,6,2,...,0,12,2,6,0,30,16:10:00.0000000,1,1,5a54af9af8bc7a2fd05e5bc5
1,6,0,-1,0,2009120016492,3,0,2009-01-30,6,2,...,0,12,1,6,0,30,08:15:00.0000000,2,1,5a54af9af8bc7a2fd05e5bd0
2,6,0,-1,0,2009120054955,3,0,2009-04-03,6,1,...,0,12,1,6,0,30,18:34:00.0000000,1,1,5a54af9af8bc7a2fd05e5bdc
3,6,0,6,0,2009120077183,3,0,2009-05-08,6,2,...,0,12,1,6,0,30,15:50:00.0000000,1,1,5a54af9af8bc7a2fd05e5be2
4,3,1036,6,0,2009120081070,3,0,2009-05-15,6,1,...,0,12,2,6,0,30,09:00:00.0000000,1,2,5a54af9af8bc7a2fd05e5be4

# Creating dataframe from a csv file

In [11]:
import pandas as pd

accidents_data_file='accidents.csv'
accidents=pd.read_csv(accidents_data_file,
                     sep=',',
                     index_col=0,
                     header=0,
                     parse_dates=True,
                     tupleize_cols=False,
                     error_bad_lines=False,
                     warn_bad_lines=True,
                     skip_blank_lines=True)

In [12]:
accidents.head()

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200812D100026,460830,452510,-1.074261,53.965099,12,3,1,1,2008-01-10,5,...,0,0,4,2,2,0,0,1,1,E01013369
2009120000327,460220,446720,-1.084698,53.913137,12,3,1,1,2009-01-01,5,...,0,0,6,1,1,0,0,2,1,E01013450
2009120001621,461460,448010,-1.065564,53.924585,12,3,1,1,2009-01-03,7,...,0,0,4,1,4,0,0,2,1,E01013365
2009120002018,465130,451620,-1.008917,53.956579,12,2,2,1,2009-01-04,1,...,0,0,4,1,2,0,0,2,1,E01013351
2009120002510,460850,452490,-1.073960,53.964917,12,3,2,1,2009-01-05,2,...,0,8,4,1,1,0,0,1,1,E01013369

# Creating dataframe from an excel file

In [33]:
import pandas as pd

#importing the customer csv file
customer_data_file='customer_data_mini.xlsx'

customers=pd.read_excel(customer_data_file,
                      sheetname=0,
                       header=0,
                      index_col=False,
                      keep_default_na=True)

customers.head()

,birth date,customer loyalty level,first name,last name,ssn,street_address,city,state,postcode,company,job,work_phone,work_street_address,work_city,work_state,work_postcode,marketing_score
0,2/15/54,not at all,cole,o'brien,6439,51585 Kertzmann Common Apt. 186,Landanburgh,New Jersey,85110,"Hand, Schaden and Skiles",English as a foreign language teacher,1-162-398-4593x071,811 Oberbrunner Manors Suite 489,Port Fatefort,Hawaii,85170-9403,67.0
1,1958-07-05 00:00:00,moderate,lise,heidenreich,689 24 9939,176 Larson Plains,Rogahnhaven,Georgia,85680,"Rempel, Rutherford and Swift",Tax adviser,1-050-479-1235x5911,960 Margene Point Apt. 319,West Shirltown,Louisiana,83296,NaN
2,19XX-10-23,moderate,zilpha,skiles (FKA wonderman,NaN,37254 Lubowitz Radial Apt. 240,New Vernita,Florida,13914,Conroy-Nicolas,Research scientist (life sciences),1-600-545-7463x08047,2409 Michelle Neck,Jadynmouth,Alaska,67050-2117,19.0
3,01/26/0056,highly loyal,damion,",wisozk",992245832,205 Hahn Stream,Port Jobeshire,Connecticut,4915,"Swaniawski, Bins and Stanton","Optician, dispensing",270.519.3236,076 Amil Wells Suite 336,Ernserhaven,Wyoming,57206-3600,89.0

# Creating a pandas dataframe from a json file

In [34]:
import pandas as pd

file='customer_data_mini.json'

#create a dataframe using the read_json() function of the pandas
customers_json = pd.read_json(file,
                             convert_dates=True)
customers_json.head()

,birth date,city,company,customer loyalty level,first name,job,last name,marketing_score,postcode,ssn,state,street_address,work_city,work_phone,work_postcode,work_state,work_street_address
0,2/15/54,Landanburgh,"Hand, Schaden and Skiles",not at all,cole,English as a foreign language teacher,o'brien,67,85110,6439,New Jersey,51585 Kertzmann Common Apt. 186,Port Fatefort,1-162-398-4593x071,85170-9403,Hawaii,811 Oberbrunner Manors Suite 489
1,5/7/58,Rogahnhaven,"Rempel, Rutherford and Swift",moderate,lise,Tax adviser,heidenreich,,85680,689 24 9939,Georgia,176 Larson Plains,West Shirltown,1-050-479-1235x5911,83296,Louisiana,960 Margene Point Apt. 319
2,19XX-10-23,New Vernita,Conroy-Nicolas,moderate,zilpha,Research scientist (life sciences),skiles (FKA wonderman,19,13914,,Florida,37254 Lubowitz Radial Apt. 240,Jadynmouth,1-600-545-7463x08047,67050-2117,Alaska,2409 Michelle Neck
3,01/26/0056,Port Jobeshire,"Swaniawski, Bins and Stanton",highly loyal,damion,"Optician, dispensing",",wisozk",89,4915,992245832,Connecticut,205 Hahn Stream,Ernserhaven,270.519.3236,57206-3600,Wyoming,076 Amil Wells Suite 336